.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  border-bottom: 1px solid #1f242b;
    z-index: 1000;   /* content ke upar rahe */
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

.items {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.items a {
  text-decoration: none;
  color: #9BB0C0;      
  font-weight: 500;
  transition: color 0.3s ease;
}

.items a:hover {
   text-decoration: underline solid white;
  color: #ff2e88;        
  /* text-shadow: 0 0 5px rgba(255, 255, 255, 0.5); */
}


.hamburger {
  display: none;
  /* default me hidden (desktop ke liye) */
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .nav_items {
    position: absolute;
    top: 70px;
    right: 0;
    height: calc(100vh - 70px);
    width: 220px;
    background: #1e293b;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    padding-top: 2rem;
  }

  .nav_items.open {
    transform: translateX(0);
  }

  .items {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .hamburger {
    display: flex;
  }
}